$black: #000;
$white: #fff;
$white-light: #efefef;
$gray-light: #e0e0e0;

$screen-sm: 768px;
$screen-md: 992px;

$breakpoint: $screen-md;

$box-shadow: 0.25rem 0.25rem 0.125rem -3px transparentize($black, 0.85);
