<!DOCTYPE html>
<html>
{% include head.html %}
<body class="portfolio{% if page.commercial %} commercial{% endif %}{% if page.residential %} residential{% endif %}{% if page.bodyClasses %} {{ page.bodyClasses }}{% endif %}">
<div class="wrapper">
  {% include header.html %}
  {% include nav.html %}<section>
  	<article>
			{% if page.slides %}
			<div id="slider">
				{% for slide in page.slides %}<div class="slider-item"><img src="{{ site.imagebase }}/slides/{{ page.slug }}/{{ slide }}"></div>{% endfor %}
			</div>
			<div class="thumbs thumbs-generated">
				{% for slide in page.slides %}<a href=""><img src="{{ site.imagebase }}/slides/{{ page.slug }}/{{ slide }}" /></a>{% endfor %}
			</div>
			{% endif %}
  		{{ content }}
  		<div class="description">
  			<h2>{{ page.title }}{% if page.reference %}<sup>{{ page.reference }}</sup>{% endif %}</h2>
  			<p>{% if page.location %}<span class="location">{{ page.location }}</span><br>{% endif %}{{ page.description }}</p>
  		</div>
  	</article>
		{% include footer.html %}
  </section>
</div>
{% include scripts.html %}
</body>
</html>
