<head>
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
	<meta name="viewport" content="width=1000"/>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
	<meta name="description" content="John Koury is an architect from Charlotte, North Carolina.">
	<meta name="keywords" content="architect, north carolina, charlotte, drawing, john koury, john, koury"/>
	<link rel="stylesheet" type="text/css" href="{{ "/dist/style/style.css?v=4" | prepend: site.baseurl }}"/>
	<script type="text/javascript" src="//use.typekit.net/bmb2zwx.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-32321827-2"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-32321827-2');
	</script>
</head>
