<head>
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
	<meta name="viewport" content="width=1000"/>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
	<meta name="description" content="John Koury is an architect from Charlotte, North Carolina.">
	<meta name="keywords" content="architect, north carolina, charlotte, drawing, john koury, john, koury"/>
	<link rel="stylesheet" type="text/css" href="{{ "/dist/style/style.css?v=3" | prepend: site.baseurl }}"/>
	<script type="text/javascript" src="//use.typekit.net/bmb2zwx.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
