---
layout: default
title: 'Home'
bodyClasses: index
---

<section>
	<article class="home">
		<div class="grid">
			{% assign collections = site.collections | sort: 'order' %}{% for collection in collections | sort: 'order' %}
			{% assign collectionSlug = collection.label %}{% assign collectionSize = site.[collectionSlug] | size %}{% if collectionSize > 0 and collection.output %}
			<a href="{{ site.baseurl }}/{{ collection.label }}/" class="grid-item">
				<div class="poster" style="background-image: url('{{ site.imagebase }}/{{ collection.img }}');"></div>
				<div class="item-title">{{ collection.name }}</div>
			</a>
			{% endif %}
			{% endfor %}
		</div>
		<div class="quote-block">
			<div class="open-quote">“</div>
			<div class="close-quote">”</div>
			<div class="quote">
				<p>Thirty spokes converge upon a single hub;<br>It is on the hole in the center that the use of the cart hinges.</p>
				<p>We make a vessel from a lump of clay;<br>It is the empty space within the vessel that makes it useful.</p>
				<p>We make doors and windows for a room;<br>But it is these empty spaces that make the room liveable.</p>
				<p>Thus, while the tangible has advantages,<br>It is the intangible that makes it useful.</p>
			</div>
			<div class="attribution"><span class="name">-Tao Teh Ching</span></div>
		</div>
	</article>
</section>
