---
layout: default
title: 'Home'
bodyClasses: index
---

<section>
	<article class="home">
		<div class="quote-block">
			<div class="open-quote">&ldquo;</div>
			<div class="close-quote">&rdquo;</div>
			<div class="quote">
				Understanding the desired use of space, whether for home, work, or community, is the starting point of design. Quality, scale and place; utilizing the materials harvested and brought to your building site in the most effective way, building design addresses these concepts to enhance, delight and facilitate their intended use.
			</div>
		</div>
		<div class="grid">
			{% assign collections = site.collections | sort: 'order' %}{% for collection in collections | sort: 'order' %}
			{% assign collectionSlug = collection.label %}{% assign collectionSize = site.[collectionSlug] | size %}{% if collectionSize > 0 and collection.output %}
			<a href="{{ site.baseurl }}/{{ collection.label }}/" class="grid-item">
				<div class="poster" style="background-image: url('{{ site.imagebase }}/{{ collection.img }}');"></div>
				<div class="item-title">{{ collection.name }}</div>
			</a>
			{% endif %}
			{% endfor %}
		</div>
	</article>
</section>
