<nav>
	<div class="nav-toggle">Menu</div>
	<ul class="main-menu">
		{% assign collections = site.collections | sort: 'order' %}{% for collection in collections | sort: 'order' %}{% assign collectionSlug = collection.label %}{% assign collectionSize = site.[collectionSlug] | size %}{% if collectionSize > 0 %}
		<li><a href="{{ site.baseurl }}/{{ collection.label }}/" title="{{ collection.name }}">{{ collection.name }}</a></li>
		{% endif %}{% endfor %}
		<li><a href="{{ "/about/" | prepend: site.baseurl }}" title="About">About</a></li>
		<li><a href="{{ "/references/" | prepend: site.baseurl }}" title="References">References</a></li>
	</ul>
</nav>
