* {
	box-sizing: border-box;
}

html,
body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: "nimbus-sans", sans-serif;
  font-weight: lighter;
}

body {
  background: $white;
}

img {
	max-width: 100%;
}

a img {
  border: 0px;
  border-style: none;
}

.wrapper {

  margin: 1rem 0px;
  padding: 0px 1rem;
  width: 100%;

  @media screen and (min-width: $breakpoint) {
    margin: 40px auto;
    width: $breakpoint;
  }

}

header {

  text-align: center;

  h1 {

    margin: 0px;
    font-size: 42px;
    letter-spacing: 2px;
    font-weight: normal;

    a {

      &,
      &:visited {
        color: $black;
        text-decoration: none;
      }

    }

  }

  h2 {

    font-size: 16px;
    font-weight: normal;

    span {
      font-size: 18px;
      line-height: 16px;
    }

  }

  @media screen and (min-width: $breakpoint) {

    margin-left: 100px;
    margin-bottom: 50px;
    text-align: left;

    h1 {
      font-size: 65px;
    }

    h2 {
      margin-top: -3px;
			margin-left: 218px;
			font-size: 20px;
    }

  }

}

nav,
section {

	@media screen and (min-width: $breakpoint) {
		display: inline-block;
		vertical-align: top;
	}

}

nav {

  text-align: center;

  .main-menu {
    display: none;
  }

	@media screen and (min-width: $breakpoint) {

    padding: 50px 30px 50px 0px;
	  width: 179px;
	  font-size: 20px;
	  line-height: 26px;
	  text-align: right;

    .main-menu {

      display: block;

			& > li {

        &:not(:last-child) {
  				margin-bottom: 0.625rem;
  			}

      }


    }

    .nav-toggle {
      display: none;
    }

	}

  .nav-toggle {

    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1;

    &:before {
      content: '+';
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.125em;
      //width: 1em;
    }

  }

  ul {

    list-style-type: none;
    padding-left: 0px;

    ul {

      display: none;
      font-size: 16px;
      line-height: 22px;

			&.open {
				display: block;
			}

      a {
        font-weight: 300;
      }

    }

  }

  .nav-parent-link {

    display: block;
    cursor: pointer;

		@media screen and (min-width: $breakpoint) {
			line-height: 0.9;
		}

  }

  a {

    &,
    &:visited {
      color: $black;
      text-decoration: none;
			font-weight: 400;
    }

  }

}

section {

  @media screen and (min-width: $breakpoint) {
    padding-left: 30px;
    border-left: 1px solid $gray-light;
    min-height: 500px;
  }

}

article {

  font-size: 1rem;
  line-height: 1.25;

  @media screen and (min-width: $breakpoint) {
    max-width: 690px;
  }

  p {

    margin-bottom: 1em;

    &.leftCol {
      margin-top: 2em;
    }

  }

  a {

    &,
    &:visited {
      color: $black;
    }

  }

  hr {
    width: 60%;
    height: 1px;
    margin: 0px auto 1em;
    background: $gray-light;
    border: 0px;
  }

  .article-img {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  &.references p {
    text-align: right;
  }

  &.home .quote {

    font-size: 1.5rem;

    p {
      margin-bottom: 0.75em;
    }

  }

  .home-img {
    float: right;
    width: 330px;
    margin-left: 30px;
    margin-bottom: 16px;
  }

  &.about {

    #head-shot {

			display: block;
			margin: 0px auto;
      box-shadow: $box-shadow;

			@media screen and (min-width: $breakpoint) {
				float: left;
	      margin-right: 30px;
			}

    }


    ul {
      list-style-type: none;
    }

    h3 {
      margin-top: 10px;
      margin-bottom: 5px;
    }

  }

  &.ontheboards {

    .clear {
      clear: both;
    }

    img {
      display: block;
      margin: 0px auto 1rem;
    }

    @media screen and (min-width: $breakpoint) {

      #true-north-existing {
        float: right;
        width: 450px;
      }

      #warehouse-plan {
        float: left;
        height: 337px;
      }

    }

  }

  .description {
    margin-top: 10px;
  }

  h2 {
    margin: 0px;
    font-weight: normal;
  }

	.location {
		font-weight: normal;
	}

	.article-external-link {
		margin-bottom: 5px;
    word-wrap: break-word;
	}

}

.article-content {

	text-align: center;

  .article-description {
    padding-right: 5%;
		text-align: left;
  }

	.article-image-wrap {

    display: block;
    margin-top: 20px;

		img {
			width: 100%;
		}

	}

  @media screen and (min-width: $breakpoint) {

		.article-description,
		.article-image-wrap {
			display: inline-block;
			vertical-align: top;
			width: 50%;
		}

    .article-image-wrap {
      margin-top: 0px;
    }

	}

}

sup {
  font-family: Times, serif;
  font-size: 10px;
  line-height: 0px;
}

.slider-item {

  position: relative;

	@media screen and (min-width: $breakpoint) {
		width: 690px;
	  height: 388px;
	}

  &.light {
    background: $black;
  }

  .meta {
    z-index: 999;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 5px;
    color: $white;
    background: transparentize($black, 0.4);
    border-radius: 3px;
  }

}

.bx-wrapper {

	position: relative;

  img {
    width: 100%;
  }

	.bx-controls {

		a {

			position: absolute;
			top: 50%;
      transform: translate(0px, -50%);
			color: $white;
			text-shadow: 0px 0px 0.25em transparentize($black, 0.75);
      text-decoration: none;
      font-size: 1.5rem;
      line-height: 1;

			&.bx-prev {
				left: 0.25em;
			}

			&.bx-next {
				right: 0.25em;
			}

      @media screen and (min-width: $breakpoint) {
        display: none;
      }

		}

	}

}

.thumbs {

  display: none;

	&:after {
		content: ' ';
		display: block;
		clear: both;
	}

  @media screen and (min-width: $breakpoint) {
    display: block;
    padding-top: 0.625rem;
    text-align: center;
  }

	&-generated {

		a {
			display: inline-block;
			vertical-align: top;

			&:not(:last-child) {
				margin-right: 5px;
			}

		}

		img {

			width: 92px;

			.denver1 & {
				height: 62px;
			}

		}

	}

  &.double,
  &.triple {

    padding-top: 5px;

    a {
      vertical-align: top;
      display: inline-block;
      overflow: hidden;
      padding-top: 5px;
      width: 92px;
      height: 52px;
    }

  }

  img {
    cursor: pointer;
  }

  .pager-active img {
    box-shadow: $box-shadow;
    opacity: 0.5;
  }

}

.quote-block {
  position: relative;
  margin-bottom: 30px;
}

.home .quote-block {
  margin-top: 20px;
}

.open-quote,
.close-quote {

  z-index: 0;
  position: absolute;
  color: $gray-light;
  font-family: 'Times New Roman', serif;
  font-size: 48px;
	line-height: 1;

	@media screen and (min-width: $breakpoint) {
		font-size: 72px;
	}

}

.open-quote {

  top: 0px;
  left: -12px;

  @media screen and (min-width: $breakpoint) {

    top: -10px;
    left: -24px;

    .home & {
      top: 0px;
      left: -1rem;
    }

  }

}

.close-quote {

  display: none;

  @media screen and (min-width: $breakpoint) {

    display: block;
    bottom: -10px;
    right: 0px;

    .home & {
      bottom: 0px;
    }

  }

}

.quote {

  z-index: 999;
  position: relative;
  padding: 15px;

  .home & {

    @media screen and (min-width: $breakpoint) {
      padding: 1rem 2rem;
    }

  }

}

.attribution {

  text-align: right;

  .home & {

    @media screen and (min-width: $breakpoint) {
      font-size: 1.25rem;
    }

  }

}

.grid {

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&-item {

		margin-top: 2rem;
		text-decoration: none;

		@media screen and (min-width: $breakpoint) {

			flex-basis: 47.5%;
			margin-top: 0px;

			&:nth-child(n+3) {
				margin-top: 2.5%;
			}

		}

	}

	.item-title {
		font-weight: 400;
	}

}

.work-grid {

  text-align: center;

  a:hover {
    opacity: 0.5;
  }

  img {
    margin: 0px 8px;
  }

}

.contact-block {

	margin-top: 2rem;
  text-align: center;

  & > div {
    margin: 0.5rem 0px;
  }

	@media screen and (min-width: $breakpoint) {

		& > div {

			display: inline-block;
      vertical-align: top;

      &:not(:first-child) {

        margin-left: 2rem;

        &:before {
          content: '|';
          padding-right: 2rem;
        }

      }

		}

	}

	a {

    &,
    &:visited {
      color: $black;
    }

  }

}
