---
layout: default
title: 'Home'
bodyClasses: index
---

<section>
	<article class="home">
		<div id="foot-top">
			{% include contact-block.html %}
		</div>
		<div class="quote-block">
			<div class="open-quote">&ldquo;</div>
			<div class="close-quote">&rdquo;</div>
			<div class="quote">
				<p>Thirty spokes converge upon a single hub;<br>It is on the hole in the center that the use of the cart hinges.</p>
				<p>We make a vessel from a lump of clay;<br>It is the empty space within the vessel that makes it useful.</p>
				<p>We make doors and windows for a room;<br>But it is these empty spaces that make the room liveable.</p>
				<p>Thus, while the tangible has advantages,<br>It is the intangible that makes it useful.</p>
			</div>
			<div class="attribution"><span class="name">-Tao Teh Ching</span></div>
		</div>
	</article>
	{% include footer.html %}
</section>
