<!DOCTYPE html>
<html>
{% include head.html %}
<body class="portfolio{% if page.commercial %} commercial{% endif %}{% if page.residential %} residential{% endif %}{% if page.bodyClasses %} {{ page.bodyClasses }}{% endif %}">
<div class="wrapper">
  {% include header.html %}
  {% include nav.html %}<section>
  	<article>
			{% if page.slides %}
			<div id="slider">
				{% for slide in page.slides %}<div class="slider-item">
					{% if slide contains '.mp4' %}
					<video width="100%" controls{% if page.video_slug %} poster="{{ site.imagebase }}/slides/{{ page.slug }}/{{ page.video_slug }}"{% endif %}>
						<source src="{{ site.imagebase }}/slides/{{ page.slug }}/{{ slide }}" type="video/mp4">
					</video>
					{% else %}
					<img src="{{ site.imagebase }}/slides/{{ page.slug }}/{{ slide }}">
					{% endif %}
				</div>{% endfor %}
			</div>
			<div class="thumbs thumbs-generated">
				{% for slide in page.slides %}<a href="">
					{% if slide contains '.mp4' %}
					<img src="{{ site.imagebase }}/play.png" />
					{% else %}
					<img src="{{ site.imagebase }}/slides/{{ page.slug }}/{{ slide }}" />
					{% endif %}
				</a>{% endfor %}
			</div>
			{% endif %}
  		{{ content }}
  		<div class="description">
  			<h2>{{ page.title }}</h2>
				{% if page.location %}<p class="location">{{ page.location }}</p>{% endif %}
  			<p>{{ page.description }}</p>
  		</div>
  	</article>
	</section>
	{% include footer.html %}
</div>
{% include scripts.html %}
</body>
</html>
