*,
html {
  margin: 0px;
  padding: 0px;
}

body {
  background: $white-light;
  font-family: "nimbus-sans", sans-serif;
  font-weight: lighter;
}

a img {
  border: 0px;
  border-style: none;
}

#wrapper {
  width: 900px;
  margin: 40px auto;
}

header {

  margin-left: 100px;
  margin-bottom: 50px;

  h1 {

    margin: 0px;
    font-size: 65px;
    letter-spacing: 2px;
    font-weight: normal;

    a {

      &,
      &:visited {
        color: $black;
        text-decoration: none;
      }

    }

  }

  h2 {

    margin-top: -3px;
    margin-left: 40px;
    font-size: 16px;
    font-weight: normal;

    span {
      font-size: 18px;
      line-height: 16px;
    }

  }

}

nav {

  float: left;
  width: 149px;
  height: 400px;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-right: 30px;
  font-size: 20px;
  line-height: 26px;
  text-align: right;

  ul {

    list-style-type: none;

    ul {

      display: none;
      font-size: 16px;
      line-height: 22px;

      &#residential-list {

        .residential & {
          display: block;
        }

      }

      &#commercial-list {

        .commercial & {
          display: block;
        }

      }

    }

  }

  #residential-link,
  #commercial-link {
    cursor: pointer;
  }

  a {

    &,
    &:visited {
      color: $black;
      text-decoration: none;
    }

  }

}

.index {

  footer {
    display: none;
	}

}

section {
  margin-left: 179px;
  padding-left: 30px;
  border-left: 1px solid $gray-light;
  min-height: 450px;
}

article {

  max-width: 690px;
  font-size: 16px;
  line-height: 22px;

  p {

    margin-bottom: 1em;

    &.leftCol {
      margin-top: 2em;
    }

  }

  a {

    &,
    &:visited {
      color: $black;
    }

  }

  hr {
    width: 60%;
    height: 1px;
    margin: 0px auto 1em;
    background: $gray-light;
    border: 0px;
  }

  .article-img {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  &#home p {
    text-align: justify;
  }

  &#contact {
    font-size: 32px;
    line-height: 38px;
  }

  &#references p {
    text-align: right;
  }

  &#home .quote {

    font-size: 1.125em;

    p {
      margin-bottom: 0.75em;
    }

  }

  #home-img {
    float: right;
    width: 330px;
    margin-left: 30px;
    margin-bottom: 16px;
  }

  &#about {

    #head-shot {
      float: left;
      margin-right: 30px;
      box-shadow: 0px 3px 15px 3px transparentize($black, 0.85);
    }

    ul {
      list-style-type: none;
    }

    h3 {
      margin-top: 10px;
      margin-bottom: 5px;
    }

  }

  &#ontheboards {

    .clear {
      clear: both;
    }

    img {
      margin-bottom: 1em;
    }

    #true-north-draw {
      max-width: 690px;
    }

    #true-north-existing {
      float: right;
      width: 450px;
    }

    #warehouse-plan {
      float: left;
      height: 337px;
    }

  }

  .description {
    margin-top: 10px;
  }

  h2 {
    font-weight: normal;
    margin-bottom: 5px;
  }

}

sup {
  font-family: Times, serif;
  font-size: 10px;
  line-height: 0px;
}

.slider-item {

  position: relative;
  width: 690px;
  height: 388px;

  &.light {
    background: $black;
  }

  .meta {
    z-index: 999;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 5px;
    color: $white;
    background: transparentize($black, 0.4);
    border-radius: 3px;
  }

}

.thumbs {

  height: 52px;
  padding-top: 10px;
  text-align: center;

  &.triple {

    .denver1 & {
      height: 180px;

      a {
        display: inline-block;
        overflow: hidden;
        width: 92px;
        height: 52px;
      }

    }

  }

  img {
    cursor: pointer;
  }

  .pager-active img {
    box-shadow: 0px 3px 15px 3px transparentize($black, 0.85);
    opacity: 0.5;
    filter: alpha(opacity = 50);
  }

}

.quote-block {
  position: relative;
  margin-bottom: 30px;
}

#home .quote-block {
  margin-top: 20px;
}

.open-quote,
.close-quote {
  z-index: 0;
  position: absolute;
  color: $white;
  font-family: "Times New Roman", serif;
  font-size: 72px;
}

.open-quote {
  top: 28px;
  left: -24px;
}

.close-quote {
  bottom: 15px;
  right: 0px;
}

.quote {
  z-index: 999;
  position: relative;
  padding: 15px;
}

#home .quote {
  padding: 15px 100px;
}

.attribution {
  text-align: right;
}

#work-grid {

  text-align: center;

  a:hover {
    opacity: 0.5;
  }

  #row1 {
    margin-bottom: 10px;
  }

  img {
    margin: 0px 8px;
  }

}

footer {

  margin-left: 210px;
  margin-top: 20px;
  clear: both;
  text-align: center;

  a {

    &,
    &:visited {
      color: $black;
    }

  }

  .spacer {
    float: left;
    width: 100px;
    height: 5px;
  }

}

#foot-top {
  text-align: center;
}
